$diwa-color: rgb(219, 120, 121);
$body-bg: rgb(15, 13, 14);
$red: #c02826;
$font-family-base: "Flama";
$box-shadow: 0.5rem 0.5rem 1rem rgba(#000, 0.45);
$accordion-bg: transparent;
$accordion-button-color: var(--bs-white);
$accordion-button-active-bg: transparent;
$accordion-button-focus-border-color: transparent;
$accordion-color: var(--bs-white);
$accordion-button-active-color: var(--bs-white);
$accordion-icon-color: var(--bs-white);
$accordion-padding-y: 0.2rem;
$accordion-padding-x: 0rem;
$input-color: white;

@import "~bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: "Evergreen";
  src: url(./fonts/Evergreen.otf);
}

@font-face {
  font-family: "Flama";
  font-style: normal;
  font-weight: normal;
  src: local("Flama"), url("./fonts/Flama Regular.woff") format("woff");
}

@font-face {
  font-family: "Flama";
  font-style: italic;
  font-weight: normal;
  src: local("Flama Italic"), url("./fonts/Flama Italic.woff") format("woff");
}

@font-face {
  font-family: "Flama";
  font-style: italic;
  font-weight: bold;
  src: local("Flama Bold Italic"), url("./fonts/Flama Bold Italic.woff") format("woff");
}

@font-face {
  font-family: "Flama";
  font-style: normal;
  font-weight: bold;
  src: local("Flama Bold"), url("./fonts/Flama-Bold.woff") format("woff");
}

@font-face {
  font-family: "Flama";
  font-style: normal;
  font-weight: 300;
  src: local("Flama Medium"), url("./fonts/Flama-Medium.woff") format("woff");
}

:root {
  //@media (prefers-color-scheme: light) {
  --diwa-bg-color: #eee;
  --diwa-fg-color: #333;
  --diwa-today-bg-color: var(--bs-dark-rgb);
  --diwa-today-link-color: rgb(var(--bs-body-bg-rgb));
  --diwa-accordion-open: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill='%23000'%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
  --diwa-accordion-close: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --diwa-accordion-border-color: rgba(0, 0, 0, 0.125);
  --diwa-file-button-color: var(--bs-primary);
  --bill-item-icon: #cc9a06;
  --text-color: var(--bs-dark);
  --text-color-50: rgba(var(--bs-dark-rgb), 0.5);
  --text-color-danger-50: rgba(var(--bs-danger-rgb), 1);
  --diwa-border-color: var(--bs-dark-rgb);
  --input-bg-color: var(--bs-light);
  --staff-bg-color: var(--bs-primary-rgb);
  --diwa-danger-button: var(--bs-danger);
  --diwa-success-button: var(--bs-success);
  --popup-bg-color: var(--bs-light-rgb);
  --diwa-warning-rgb: #8a6801;
  --diwa-caret-success-color: var(--bs-success);
  --diwa-caret-danger-color: var(--bs-danger);
  --diwa-close-button: invert(0%);
  --diwa-error-bg: var(--bs-danger);
  --diwa-error-fg: var(--bs-light);
  --diwa-checkbox-tick: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23000000%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
  // }
  --diwa-translucent-color: rgba(255, 255, 255, 0.8);
}

.dark {
  --diwa-bg-color: rgba(61, 31, 32, 1) !important;
  --diwa-fg-color: #fff;
  --diwa-today-bg-color: var(--bs-body-bg-rgb);
  --diwa-today-link-color: rgba(var(--bs-primary-rgb), 0.9);
  --diwa-accordion-color: fff;
  --diwa-accordion-open: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --diwa-accordion-close: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --diwa-accordion-border-color: rgba(255, 255, 255, 0.25);
  --diwa-file-button-color: #333;
  --bill-item-icon: rgb(255, 193, 7);
  --text-color: var(--bs-light);
  --text-color-50: rgba(var(--bs-light-rgb), 0.5);
  --text-color-danger-50: rgba(var(--bs-light-rgb), 0.5);
  --diwa-border-color: var(--bs-white-rgb);
  --input-bg-color: var(--bs-dark);
  --staff-bg-color: var(--bs-dark-rgb);
  --diwa-danger-button: var(--bs-light);
  --diwa-success-button: var(--bs-light);
  --popup-bg-color: var(--bs-dark-rgb);
  --diwa-warning-rgb: var(--bs-warning-rgb);
  --diwa-caret-success-color: var(--bs-light);
  --diwa-caret-danger-color: var(--bs-light);
  --diwa-close-button: invert(100%);
  --diwa-error-bg: var(--bs-danger);
  --diwa-error-fg: var(--bs-light);
  --diwa-checkbox-tick: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23fff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e");
  --diwa-translucent-color: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: "Flama", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--diwa-bg-color) !important;
  color: var(--diwa-fg-color) !important;
}

h2 {
  font-weight: 300;
}

.bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: space;
  background: var(--diwa-bg-color) !important;
  background-attachment: fixed;
  background-position: center center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.card-header {
  font-family: "Flama" !important;
}

.evergreen {
  font-family: "Evergreen" !important;
}

// .card {
//   box-shadow: inset 0 0 2000px #dbdbdb80;
//   backdrop-filter: blur(1rem);
//   box-shadow: 1.3rem 1.3rem 1.3rem rgba($color: #000000, $alpha: 0.5) !important;
//   border-top-color: rgba(225, 225, 225, 0.5);
//   border-left-color: rgba(225, 225, 225, 0.5);
//   border-bottom-color: rgba(225, 225, 225, 0.1);
//   border-right-color: rgba(225, 225, 225, 0.1);
//   border-radius: 1rem;
// }

.small {
  font-size: 0.8rem;
}

.today {
  background-color: unset !important;
  background: linear-gradient(
    to right bottom,
    rgba(var(--diwa-today-bg-color), 0.6),
    rgba(var(--diwa-today-bg-color), 0.6)
  );
  padding: 0.5rem;
  padding-top: 0.8rem;
  border-radius: 1rem !important;
  padding-left: 1rem;
}

.today a {
  color: var(--diwa-today-link-color);
}

.today .btn {
  margin-top: 10px;
}

.neonText {
  color: #fff;
  text-shadow: 0 0 27px #aaa, 0 0 30px #aaa, 0 0 51px #aaa;
}

.accordion-button.collapsed::after {
  background-image: var(--diwa-accordion-close);
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--diwa-accordion-open);
}

.accordion-button:not(.collapsed) {
  border-bottom: 1px solid var(--diwa-accordion-border-color);
  box-shadow: none;
}

input[type="file"]::file-selector-button {
  background-color: var(--diwa-file-button-color);
}

.offcanvas-backdrop.show {
  opacity: 1;
  background-color: rgba(15, 23, 42, 0.5);
  backdrop-filter: blur(4px);
}

.offcanvas {
  background-color: rgba(var(--popup-bg-color), 0.7) !important;
  border: 1px solid #777 !important;
}

.black-bg {
  background: linear-gradient(
    to right bottom,
    rgba(var(--staff-bg-color), 0.5),
    rgba(var(--staff-bg-color), 0.3)
  ) !important;
  border: 1px solid rgba(var(--staff-bg-color), 1) !important;
}

.store-bg {
  background: linear-gradient(
    to right bottom,
    rgba(var(--staff-bg-color), 0.9),
    rgba(var(--staff-bg-color), 0.7)
  ) !important;
  border: 1px solid rgba(var(--staff-bg-color), 1) !important;
}

.translucent-bg {
  background-color: var(--diwa-translucent-color) !important;
  backdrop-filter: blur(1rem);
}

.bill-item-icon {
  color: var(--bill-item-icon);
}

.text-color {
  color: var(--text-color) !important;
}

.text-color-50 {
  color: var(--text-color-50) !important;
}

.text-color-danger-50 {
  color: var(--text-color-danger-50) !important;
}

.border-color {
  border-color: rgb(var(--diwa-border-color)) !important;
}

.border-color-25 {
  border-color: rgba(var(--diwa-border-color), 0.25) !important;
}

.background-color {
  background-color: var(--input-bg-color) !important;
}

input {
  background-color: var(--input-bg-color) !important;
  color: var(--text-color) !important;
}

.bg-color-diwa {
  background-color: $diwa-color !important;
  color: var(--bs-dark);
}

.translucent-navbar {
  background-color: rgba(var(--input-bg-color), 0.5) !important;
  backdrop-filter: blur(1rem);
  border-top: 1px solid var(--text-color-50) !important;
}

.text-warning {
  color: var(--diwa-warning-rgb) !important;
}

.caret-success-color {
  color: var(--diwa-caret-success-color);
}

.caret-danger-color {
  color: var(--diwa-caret-danger-color);
}

.btn-outline-color {
  color: var(--text-color) !important;
  border-color: var(--text-color) !important;
}

.btn-close-color {
  // color: var(--text-color) !important;
  filter: var(--diwa-close-button);
}

textarea,
select {
  background-color: var(--input-bg-color) !important;
  color: var(--text-color) !important;
}

.form-switch .form-check-input {
  border: 1px solid $diwa-color;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba($diwa-color, 0.25);
}

// .form-switch .form-check-input:checked,
.form-switch .form-check-input:focus,
.form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23db7879%27/%3e%3c/svg%3e");
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23777777%27/%3e%3c/svg%3e");
}

.simple-check-active {
  background-image: var(--diwa-checkbox-tick) !important;
  background-repeat: none;
  background-size: contain;
  background-position: center;
}

.login-check input:checked {
  background-color: $diwa-color !important;
}

.simple-check {
  background-image: unset !important;
}

.form-check-input:checked {
  border-color: $diwa-color !important;
}

.form-check-input:not(:checked) {
  border-color: $diwa-color !important;
}

.alert-danger {
  background-color: var(--diwa-error-bg) !important;
  color: var(--diwa-error-fg) !important;
}

.separator {
  background-color: rgba(var(--card-bg-diwa-color), var(--diwa-border-top-alpha));
}

.datepicker-modal {
  position: fixed !important;
  z-index: 1040 !important;
}
.datepicker {
  position: fixed !important;
  font-family: unset !important;
}

.react-pattern-lock__point-inner {
  background-color: var(--diwa-fg-color) !important;
}
.react-pattern-lock__connector {
  background-color: var(--diwa-fg-color) !important;
}
